@import "./../../../styles.scss";

.main__icon {
	display: flex;
	justify-content: center;
	img {
		height: 30px;
		border: solid 0.4px grey;
		border-radius: 50%;
		margin: 0 6px;
	}
}

.digitalClock {
	display: flex;
	flex-direction: column;
}

// $direction: (
//   t: top,
//   r: right,
//   b: bottom,
//   l: left
// );

// @each $direction, $direction-value in $direction {
//   .m#{$direction}-#{0} {
//       margin-#{$direction-value}: 0;
//   }
// }

// @mixin border($color: $border, $width: 1px) {
// 	border: $width solid $color;
// }
// .separator-red {
//   @include border(red)
// ;
// }

// .separator-yellow {
//   @include border(yellow);
// }

// non mais l'icone angry bird quoi

//  @include border( red ) sans espace
