mat-toolbar span {
	margin-left: 12px;
}

.logoBA {
	cursor: pointer;
	&:focus {
		outline: none;
	}
}

.main {
	display: flex;
	flex-direction: column;
	padding: 16px;
	&__h2,
	&__h3,
	&__h4,
	&__h5 {
		text-align: center;
	}
	&__div {
		margin: 0px auto;
		padding: 8px;
		border: 1px solid #000000;
		border-radius: 4px;
		margin-bottom: 20px;
		&__p {
			padding: 8px;
			margin: 0;
			display: flex;
			justify-content: flex-end;
		}
		button {
			margin-left: 4px;
		}
		&__field {
			height: 200px;
			margin-bottom: 10px;
		}
		textarea {
			height: 150px;
		}
	}
	&__divPosts {
		display: flex;
		flex-wrap: wrap;
		&__card {
			margin: 10px auto 20px;
			border: 1px solid #000000;
			border-radius: 4px;
			width: 40%;
		}
	}
	&__alignCenter {
		display: flex;
		justify-content: center;
		align-items: center;
		&__link {
			text-decoration: none;
			color: #cddc39;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 8px;
		}
	}
}

::ng-deep mat-form-field {
	width: 300px;
}

.mat-card > .mat-card-actions:last-child {
	margin-bottom: 0;
}
